---

import type { GetStaticPaths } from "astro";

import MainLayout from "layouts/MainLayout.astro";
import PokemonCard from "components/Pokemon/PokemonCard.astro";
import Title from "components/shared/Title.astro";
import type {Pokemon, Pokemons} from 'interfaces/Pokemons';


export const getStaticPaths = (async () => {

	const resp = await fetch('https://pokeapi.co/api/v2/pokemon?limit=151');
	const {results} = await resp.json() as Pokemons;

	return results.map((pokemon: Pokemon) => {
        const id = pokemon.url.split('/').at(-2);
		return {
			params: {
		        id: id,
		    },
            props: {
                name: pokemon.name,
                url: pokemon.url,
            }
		} 
	});

}) satisfies GetStaticPaths;

const {name, url} = Astro.props;

---

<MainLayout title={name}>
	<section class="mt-10 mx-10 flex flex-col justify-center items-center">
		<button class="bg-red-500 px-4 py-2 rounded-[25px] mb-4" onclick="history.back()">{'<-- Volver'}</button>
		<PokemonCard name={name} url={url} isBig />
	</section>
</MainLayout>

<style>
	a {
		@apply hover:underline text-red-500;
	}
</style>
