---

import MainLayout from "layouts/MainLayout.astro";
import PokemonCard from "components/Pokemon/PokemonCard.astro";
import Title from "components/shared/Title.astro";
import type { Pokemons } from "interfaces/Pokemons";

const resp = await fetch('https://pokeapi.co/api/v2/pokemon');
const data = (await resp.json()) as Pokemons;

---

<MainLayout title="Pokémons">
  <Title>Pokémons</Title>
  <section aria-label="Listado de Pokémons" class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-3 gap-4 mt-5">
    {
      data.results.map((pokemon) => (
        <PokemonCard name={pokemon.name} url={pokemon.url} />
      ))
    }
  </section>
</MainLayout>